/*Home Begins*/
.logo {
    color: rgb(12, 254, 80);
    text-decoration-style: solid;
}

.navbar {
    border-radius: 10px;
    margin: 1%;
}

.px-3 {
    margin-top: 10%;

}

/*Texto*/
p.lead {
    text-align: center;
    font-weight: 300;
}


/*Engrenagem*/
.custom-svg {
    width: 48px;
    height: 48px;
    color: #ffffff;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotating-svg {
    animation: rotate 5s linear infinite;
}

/*Roda pé*/
footer {
    background-color: #2B3035;
    text-align: center;
    bottom: 0;
    padding: 10px;
    margin-bottom: 0px;
    width: 100% !important;
}

.text-white-50 {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, .5) !important;
}

.custom-btn {
    background-color: #1CCA00; /* Define a cor de fundo */
    color: white; /* Define a cor do texto */
    border: none; /* Remove a borda */
    padding: 5px 25px; /* Adiciona um espaçamento interno */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar por cima */
}
.custom-btn-boddy {
    background-color: #1CCA00; /* Define a cor de fundo */
    color: white; /* Define a cor do texto */
    border: none; /* Remove a borda */
    padding: 7px 25px; /* Adiciona um espaçamento interno */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar por cima */
}

.text-home-geral {
    font-family: Inter;
    text-align: left;
    padding-top: 65px;
}

.text-home-dev{
    color: rgb(12, 254, 80);
    font-size: 45px;
}
.title-home{
    color: rgb(12, 254, 80);
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.text-home-quem-sou{
    margin-top: 10px;
    text-align: justify;
}

.dv-bg-grey {
    background: #2B3035;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.68);

}

.img-perfil{
    height: 350px;

}
.img-pefil-corpo{
    height: 250px;
}

.fa{
    font-size: 45px;
    margin: 5px;
    color: #1CCA00;
}

/*End Home*/
